// fonts
$base-font-size: 15;
$base-font: 'Heebo', sans-serif;
$heading-font: 'Montserrat', sans-serif;



// color
$dark-gray: #2a2a2a;
$mid-gray: #9b9b9b;
$white: #fff;
$black: #000;
$green: #1b6ca0;
$darkblue: #213078;

$theme-primary-color: $green;
$body-bg-color: $white;
$section-bg-color: #f8f8f8;
$text-color: $mid-gray;
$heading-color: $darkblue;
